<mat-toolbar>
    <mat-toolbar-row *ngIf="false" style="height:80px; width:100%;">
        <div fxLayout="row" fxLayoutAlign="start center" style="height:100%; width:100%;">
            <a href="http://pong-center.ucsd.edu" style="height:100%;" fxFlex="150px">
                <img src="assets/images/pong_logo_black.png" alt="pong" style="height:90%;">
            </a>
            <span fxFlex></span>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="width:100%;">
        <div fxLayout="column" fxLayoutAlign="center center" style="width:100%;">
            <a style="font-size: small; color:white;" href="http://pong-center.ucsd.edu">©2020 by The Power of NeuroGaming Center</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
