<mat-toolbar>
    <mat-toolbar-row style="height:80px; width:100%;">
        <div fxLayout="row" fxLayoutAlign="start center" style="height:100%; width:100%;">
            <a href="http://pong-center.ucsd.edu" style="height:100%;" fxFlex="150px">
                <img src="assets/images/pong_logo_black.png" alt="pong" style="height:90%;">
            </a>
            <div fxLayout="column" fxFlex fxHide fxShow.gt-xs fxLayoutAlign="end start">
                <h3 fxFlex>Future of Work</h3>
                <p fxFlex style="font-size: small;">The Power of NeuroGaming</p>
            </div>
            <span fxFlex></span>
            <a mat-stroked-button fxFlex="150px" class="linkbutton" href="https://ucsd.zoom.us/webinar/register/WN_1PyDRoEtSUuLWn-tGhOIHw" target="_blank">RSVP NOW!</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
