<mat-toolbar>
    <mat-toolbar-row style="height:100%; width:100%;">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" style="height:100%; width:100%;">
            <a href="http://pong-center.ucsd.edu" style="height:80px;" fxFlex="150px" fxFlex.lt-sm="100px">
                <img src="assets/images/pong_logo_black.png" alt="pong" style="height:90%;">
            </a>
            <div fxLayout="column" fxLayoutAlign="end start">
                <p  fxFlex style="font-style:normal; white-space: pre-wrap;">Supporting Effective Instruction and Resilient Learners in Career and Technical Education </p>
            </div>
            <span fxFlex></span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
