<div fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" style="background-color: white;">
        <p style="background-color: white; color: black; margin: 30px; font-size: x-large;">Our coalition seeks to support CTE programs in community colleges and other providers in the move to online offerings. We seek to use our past experiences
            in related programming to improve instructor readiness in supporting Black and Latinx learners in their goal of successfully completing CTE certification.
            Below we include links to bios of each team member and the centers, departments, and programs they engage. </p>
    </div>
    <div *ngFor="let t of teams" style="height:100%; width:100%;background-color: black;">
        <div fxLayout="row" fxLayoutAlign="start center" >
            <div fxLayout="column" fxLayoutAlign="end start" style="padding-top: 10px;">
                <h2 fxFlex style="margin-left: 10px;">{{t.groupName}}</h2>
            </div>
            <span fxFlex></span>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px grid" style="width: 100%; background-color: white;">
            <div fxLayout="column" style="color:black" *ngFor="let m of t.members">
                <mat-card class="personcard">
                    <div fxLayout="column" fxLayoutAlign="start center" (click)="openDialog(m)">
                        <img mat-card-image src="{{m.photo}}">
                    </div>
                    <mat-card-content fxLayout="column" fxLayoutAlign="start center"  (click)="openDialog(m)">
                        <div fxLayout="row" style="line-height: 1.1;" *ngFor="let l of m.name">{{l}}</div>
                    </mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <a mat-stroked-button class="linkbutton" href="{{m.linkout}}" target="_blank">{{m.linkoutTitle}}</a>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    
 </div>
