img{
    width: 100%;
    height: auto;
}

.bgimg {
    background-image: url('../../assets/images/gameplay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.fowimage{
    background-image: url('../../assets/images/fowimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.fowbg {
    background-image: linear-gradient(to top right, rgba(50,50,50,1), rgba(90,90,90,0));
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.leanneimage{
    background-image: url('../../assets/images/leannejpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.leannebg {
    background-image: linear-gradient(to top right, rgba(50,50,50,0), rgba(50,50,50,1));
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bgimgdarken{
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 2;
}

.center {
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

.linkbutton{
    background-color: orange;
    color:black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}