<div fxLayout="column" fxLayoutAlign="space-around center">
    <div [ngStyle.gt-sm]="{'background-color': '#000'}" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-around center">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <h1 fxFill>PoNG Internship Showcase Event</h1>
            </div>
            <div fxLayout="row" fxFlex="90" fxLayoutAlign="space-around center">
                <p style="margin:10px;">The PoNG Center created a skill-building internship model designed to expand access to jobs in the technology sector for adults on the Autism Spectrum. In the past 8 weeks, our interns developed research-based video games and practiced work-place soft skills. Now it's time for them to present their achievements!</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <h2>August 6th, Thursday, 11:00 AM- 1:00 PM PDT</h2>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <a mat-stroked-button class="linkbutton" href="https://www.google.com/url?q=https://ucsd.zoom.us/w/97586007228?tk%3DCcWSzrQw6Bra0gklXqch6j1yWM8DdOslAj39YZTlYmQ.DQIAAAAWuJRMvBZ0U2tybjFxTlJmU3RpS0tCYUNwSFJRAAAAAAAAAAAAAAAAAAAAAAAAAAAA%26uuid%3DWN_1PyDRoEtSUuLWn-tGhOIHw&sa=D&source=calendar&ust=1597081917819000&usg=AOvVaw3pKulKNKzRaDOzuDH5iarf" target="_blank">Watch Now</a>
            </div>
        </div>
        <div fxLayout="column" fxFlex="50" fxFill fxLayoutAlign="space-around center">
            <div class="fowimage"></div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="50" fxFill fxLayoutAlign="space-around center">
            <div class="leanneimage"></div>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-around center">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <h1 style="text-align: center;">Future of Work Project at UC&nbsp;San&nbsp;Diego</h1>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <p style="margin:10px;">Autism spectrum disorders and related conditions affect at least 1 out of 59 individuals, cost $137 billion per year in the U.S., and result in a staggering unemployment rate for adults that have the cognitive skill and valuable creative talents that can contribute substantially to the technology workforce. The goal of this project is to develop training technology as well as a skill-building internship model to expand access to jobs in the technology sector for neurodiverse young adults.</p>
                <p><em>This work is supported by a grant from the National Science Foundation (#1928604).</em></p>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlexFill>
        <div class="bgimg">
            <div class="bgimgdarken">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <h1 class="center">Team Introduction</h1>
                    <p style="max-width:600px;">Each team includes a programmer, project manager, artist, tester, designer, and a coach. The interns and coach worked together with their client to develop a game from concept to production.</p>
                    <p style="padding-top:50px; max-width:600px;">Try out the games by clicking on Learn More for each project.</p>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px grid">
        <div fxFlex fxFlex.lt-lg="33%" fxFlex.lt-md="95%" *ngFor="let t of teams">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{t.teamname}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul style="font-size: small;">
                        <li *ngFor="let n of t.members"><em>{{n.title}}</em> : {{n.name}}</li>
                    </ul>
                    <mat-divider></mat-divider>
                    <p fxFlexFill style="padding-top: 10px">{{t.blurb}}</p>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center" style="padding-bottom: 10px;">
                    <button mat-stroked-button color="primary" (click)="openDialog(t)">Learn More</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <mat-divider style="height: 30px;"></mat-divider>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="90" fxLayoutAlign="space-around center">
            <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around center">
                <h1>PoNG Center at the Qualcomm Insitute</h1>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around center">
                <p style="margin:10px;">At the <a style="color: white;" href="http://pong-center.ucsd.edu">Power of NeuroGaming (PoNG) Center</a> at the Qualcomm Institute, UC San Diego, we are building a learning ecosystem around video games and sensor technology. By combining cognitive science, neuroscience, engineering, the digital arts, and education we seek to create games that meet a wide range of goals including medical rehabilitation, behavioral intervention, learning across the lifespan, and encouraging social change.</p>
            </div>
        </div>
    </div>
</div>
