@import '~@angular/material/theming';

.mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 200px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 200px;
    padding: 0px;
    margin: 0px;
}

.center {
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

.linkbutton{
    background-color: orange;
    color:black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.standoutcard {
    background-color: #a9a9a9;
    color: black;
    padding-top: 10px;
    @include mat-elevation(2, orange);
}

.mat-card{
    display:flex;
    flex-direction: column;
    //outline: 1px solid green;
}

.mat-card-content{
    flex-grow: 1;
    overflow: auto;
    color: black;
    margin: 0px;
    padding: 0px;
    //outline: 1px solid red;
    text-align: center;
}

.personcard{
    background-color: white;
    height: 380px;
    width: 200px;
}