<h1 mat-dialog-title>{{data.teamdata.teamname}}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" >
    <div fxLayout="row" fxLayoutAlign="space-around">
        <p>
            {{data.teamdata.blurb}}
        </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="data.teamdata.gamelink">
        <a style="padding: 10px;" mat-stroked-button color="primary" href="{{data.teamdata.gamelink}}" target="_blank">Play {{data.teamdata.teamname}}</a>
    </div>
    <div fxLayout="row">
        <h2>Meet the team</h2>
    </div>
    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="16px grid" >
        <div fxFlex.sm="50%" fxFlex.md="33%" fxFlex.gt-md="25%"
        *ngFor="let n of data.teamdata.members">
        <mat-card class="standoutcard" fxFlex="1 0 200px">
            <mat-card-header>
                <mat-card-title>{{n.name}}</mat-card-title>
                <mat-card-subtitle>{{n.title}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content fxLayoutAlign="center">
                  <div [ngSwitch]="!!n.photo" fxLayoutAlign="center">
                    <img *ngSwitchCase="true" src="{{n.photo}}" alt="{{n.name}}">
                    <img *ngSwitchCase="false" mat-card-image  src="assets/images/small/shiba2.gif" alt="{{n.name}}">
                  </div>
              </mat-card-content>
              <mat-card-actions *ngIf="n.linkedin">
                  <a href="{{n.linkedin}}" target="_blank">
                      <img fxFlex="30%" src="assets/images/LI-Logo.png" alt="LinkedIn">
                  </a>
              </mat-card-actions>
        </mat-card>
    </div>
      </div>
</div>